{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}
{% block head %}
<style>
    .message {
        color: red;
    }
</style>
{% endblock %}
{% block content %}
<form method="post" action="/admin_auth">
    <p>
        <label for="login">Логин</label>
        <input type="text" name="login" id="login">
    </p>
    <p>
        <label for="password">Пароль</label>
        <input type="password" name="password" id="password">
    </p>
    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}
    <p>
        <input type="submit" value="Войти"> <a href="/auth">вход для авиакомпаний</a>
    </p>

    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</form>
{% endblock %}
