{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}
{% block content %}
<form method="post" action="/auth">
    <p>
        <label for="login">Название авиакомпании</label>
        <select name="login" id="login">
        </select>
    </p>
    <p>
        <label>Пароль (номер договора)</label>
        <input type="password" name="password">
    </p>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <p>
        <input type="submit" value="Войти">
    </p>

    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</form>
{% endblock %}
